<ul class="activities-list">
  <button class="simple-button"><i class="fa fa-refresh"></i>Refresh Activities</button>
  {{#each activities}}
    <li>
      <h3>{{name}}</h3>
      <div class="dash">
        <ul class="activity-details">
          <!--<li class="date">Date: {{start_date_local}}</li>
          <li class="location">Location: {{location_city}}</li>-->
          <li>
            <h4>
              <i class="fa fa-map-marker"></i>
              Location
            </h4>
            <div>{{location_city}}</div>
          </li>
          <li>
            <h4>
              <i class="fa fa-flag-checkered"></i>
              Distance
            </h4>
            <div><span>{{distance}}</span> miles</div>
          </li>
          <li>
            <h4>
              <i class="fa fa-clock-o"></i>
              Moving Time
            </h4>
            <div><span>{{moving_time}}</span> hours</div>
          </li>
          <li>
            <h4>
              <i class="fa fa-fighter-jet"></i>
              Max Speed
            </h4>
            <div><span>{{max_speed}}</span> miles/hour</div>
          </li>
          <li>
            <h4>
              <i class="fa fa-tachometer"></i>
              Average Speed
            </h4>
            <div><span>{{average_speed}}</span> miles/hour</div>
          </li>
          <li>
            <h4>
              <i class="fa fa-arrow-circle-up"></i>
              Elevation Gain
            </h4>
            <div><span>{{total_elevation_gain}}</span> feet</div>
          </li>
        </ul>
      </div>
    </li>
  {{/each}}
</ul>
