<div class="profile-page">
  <img src="{{profile}}" class="picture">
  <div class="basic-info">
    <h2>{{firstname}} {{lastname}}</h2><span>{{city}}, {{state}}</span>
  </div>
  <div class="controls">
    <a href="#logout" class="logout">
      <i class="fa fa-sign-out"></i>
      Logout
    </a>
  </div>
  <div class="clearboth"></div>
  <div class="activities">No Activities</div>
</div>
